.search_model{
    position: relative;
    background-color: grey;
    width: 76%;
    margin-inline: 10%;
    list-style-type: none;

    top: -30px;

    border-radius: 10px;
    padding: 20px ;

}
.search_model > li {
    color: aliceblue;

    font-family: 'Times New Roman', Times, serif;

    font-size: 20px;

    font-style: oblique;

    line-height: 30px;
}